.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 100px;
}
.price{
    color: rgba(230, 47, 236, 0.925);
}
.order-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 10px 30px;
    cursor: pointer;
}
.wd{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #fff;
    border: none;
    padding: 20px 20px 20px 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 15px;
    cursor: pointer;
}
@media (min-width: 320) {
    .wd {
      max-width: 540px;
      
    }
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }